<!DOCTYPE html>
<html>
<body>

<div>
    <ul>
    <% for(var i=0; i<all_flights.length ; i++) {%>
        <li>Flight Number: <%= all_flights[i].FlightNumber %></li>
        <li>From: <%= all_flights[i].From %></li>
        <li>To: <%= all_flights[i].To %></li>
        <li>Flight Date: <%= all_flights[i].FlightDate %></li>
        <li>Economy Seats Available: <%= all_flights[i].EconomySeatsAvailable %></li>
        <li>Business Seats Available: <%= all_flights[i].BusinessSeatsAvailable %></li>
        <li>First Seats Available: <%= all_flights[i].FirstSeatsAvailable %></li>
        <hr><br>
    <% } %>
    </ul>
</div>


</body>
</html>